<h1>Hihi</h1>

<form class="" action="<%= api_submissions_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    #
    <input type="text" name="submission[hashtag]" value="">
  </label><br>

  <label>
    From
    <input type="date" name="submission[start_date]" value="">
  </label><br>

  <label>
    To
    <input type="date" name="submission[end_date]" value="">
  </label><br>

  <input type="submit" value="Submit">
</form>
